/* button play */
.botón {
  position: relative;
}
.fondo {
  background: #f4471f;
  border-radius: 50%;
  box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.051),
    0 2.3px 5.3px rgba(0, 0, 0, 0.059), 0 4.4px 10px rgba(0, 0, 0, 0.06),
    0 7.8px 17.9px rgba(0, 0, 0, 0.059), 0 14.6px 33.4px rgba(0, 0, 0, 0.059),
    0 35px 80px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  height: 100px;
  width: 100px;
}

/* button musical */

.btn {
  border: none;
  padding: 14px 28px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background-color: #007bff;
}

.buttonsPlay {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.buttonRotate {
  transform: rotate(0);
  transition: transform 0ms;
}

.buttonRotate span {
  font-size: 5rem;
}

.repeatButton {
  color: azure;
}

.repeatRotate {
  transform: rotate(-360deg);
  transition: transform 700ms;
}

@media screen and (max-width: 1048px) {
  .buttonsPlay > div {
    margin: -40px;
  }
}

.respuesta {
  transition: all 1000ms;
}
.respuesta h2 {
  height: 56px;
}

.sectionExercise {
  position: relative;
}

.sectionInit1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  cursor: pointer;
}
.sectionInit2 {
  font-weight: bold;
  font-size: 1.5rem;
}
